[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cheatsheet"]
	path = cheatsheet
	url = https://github.com/bradlindblad/cheatsheet
[submodule "proverbs"]
	path = proverbs
	url = https://github.com/bradlindblad/proverbs
[submodule "schrute"]
	path = schrute
	url = https://github.com/bradlindblad/schrute
[submodule "tidyUSDA"]
	path = tidyUSDA
	url = https://github.com/bradlindblad/tidyusda
